/** Navbar CC*/
a.navbar-brand {
    float: left;
    padding: 28px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;

}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
}

.navbar-nav li.nav-item {
    text-align: center
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #404040;
}

.navbar-nav .nav-item .nav-link{
    color: #8db65a;
   font-family: 'Gothic A1', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}

.btn-log{
    color: #fff;
    background-color: #8db65a;
    border-color: #8db65a;
    border-radius: 28px;
}
.btn-log:hover {
    color: #fff;
    background-color: #f3cf3e;
    border-color: #f3cf3e;
}
.a-link{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fbfdff;
    background-color: transparent;
    text-align: center;
}

.img-pbi{
    margin-top: -78px;
    position: absolute;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.navbar-nav li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.navbar-nav li:nth-child(1) {
    animation-delay: .3s;
}

.navbar-nav li:nth-child(2) {
    animation-delay: .6s;
}

.navbar-nav li:nth-child(3) {
    animation-delay: .9s;
}

.navbar-nav li:nth-child(4) {
    animation-delay: 1.2s;
}

.navbar-nav li:nth-child(5) {
    animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/** This section area articel **/
.raw-top{
    margin-top: 32px;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.area-post {
    position: absolute;
    display: block;
    bottom: 8%;
    right: -8%;
    padding: 1px;
    text-align: left;
    background: #000;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    width: 75%;
    white-space: wrap;
    word-wrap: break-word;
}

.name-title {
    margin-bottom: -0.25rem;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.btn-news {
    margin-top: -5px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.btn-news button#list {
    color: white;
    background-color: #f3cf3e;
    font-weight: 500;
}

.btn-news button#grid {
    border: 1px solid #f3cf3e;
    background-color: #ffffff;
    color: #8db65a;
    font-weight: 500;
}

.img-thumb{
    height: 102%;
    width: 119%;
    margin-left: -17px;
}

.line {
    padding: 15px;
    margin-top: 10px;
}

.strip {
    border: #f4f4f4;
    background-color: #f3cf3e;
    width: 28px;
    height: 6px;
    margin-top: -1px;
    margin-bottom: 5px;
}
.strip-ver {
    margin-top: 6px; 
    background-color: #f3cf3e;
}

.strip-ver h3{
    margin-left: 6px;
    padding: 0;
    border-left: 6px solid #f3cf3e;
}

.strip-ver h3 strong{
    margin-left: 6px;
    color: #8db65a;
}

.line-2 {
    padding: 15px;
    background-color: #f4f4f4;
}

.line-3{
    padding: 15px;
}

.tag i {
    color: #EDD42F;
}
 
.tag a {
    color: rgb(24, 23, 22);
    font-weight: 500;
    font-size: 11px;
}


/**Side-bar area**/
.user-onfire{
    width: 90px;
    height: 90px;
}
.user-area{
    margin-top: 25px;
}
.see-more{
    text-align: center;
    color: #403D39;
    margin-left:10px;
    font-weight: 500;
    margin-top: 30px; 
}
.see-more a{
    color: black;
    text-decoration: none;
    z-index: 3;
}
.see-more a i{
    margin-left: -38px;
    z-index: 2;
    margin-top: 13px;
    position: absolute;
}
.user-area ul{
    margin:0;
    padding: 20px;
    top: 20px;
    transform: translate (-50% -50%);  
    width: 400px;
    border-bottom: 2px solid #fed136;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
}
.user-area ul li{
    position: relative;
    list-style: none;
    padding: 4;
    margin-top:2px;
}
.user-area ul li img{
    position: relative;
    margin-top: 23px;
    z-index:1;
    margin-left: 5px;
}
.user-area ul li p{
    text-decoration: none;
    display: block;
}
.area{
    z-index: 2;
    margin-left: 128px;
    margin-top: -80px;
}
.user-area ul li.area{
    position: absolute;
    top:0;
    left:0;
    width: 60px;
    text-align: left;
}

.user-strip{
    border: #f4f4f4;
    background-color: #f3cf3e;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    margin-bottom: 5px;
}

.img-ads{
    margin-top: 20px;
}

/** Foooter***/
.pull-right{
    position: absolute;
    right: 15px;
}
.pull-up {
    margin-bottom: 37px;
}
.btn-next{
    border: 2px solid #fff;
    border-radius: 30px;
    background-color:  #282828;
    height: 30px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    right: 17px;
}
.btn-next a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-big{
    margin-top: 60px;
} 
.footer {
    background-color: #FFFCF5;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer .links {
    display: inline-block;
  }
  .footer .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  .footer .links ul > li {
    display: inline-block;
    padding-right: 20px;
  }
  .footer .links ul > li:last-child {
    padding-right: 0px;
  }
  .footer .links ul a:not(.btn) {
    color: #66615b;
    display: block;
    font-size: 0.9em;
    margin-bottom: 3px;
  }
  .footer .links ul a:not(.btn):hover, .footer .links ul a:not(.btn):focus {
    color: #403D39;
  }
  .footer .links ul.uppercase-links {
    text-transform: uppercase;
  }
  .footer .links ul.stacked-links {
    margin-top: 15px;
  }
  .footer .links ul.stacked-links > li {
    display: block;
    line-height: 26px;
  }
  .footer .links ul.stacked-links h4 {
    margin-top: 0px;
  }
  .footer .social-area {
    padding: 15px 0;
  }
  .footer .social-area .btn {
    margin-bottom: 3px;
  }
  .footer hr {
    border-color: #66615b;
    border-width: 1px 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer .copyright {
    color: #A49E9E;
    font-size: 0.9em;
  }
  .footer .copyright ul > li {
    padding-right: 0px;
  }
  .footer .title {
    color: #403D39;
  }
  
  .footer-black,
  .footer-transparent,
  .subscribe-line-transparent {
    background-color: #282828;
    color: #ffffff;
}
  .footer-black .links ul a:not(.btn),
  .footer-transparent .links ul a:not(.btn),
  .subscribe-line-transparent .links ul a:not(.btn) {
    color: #A49E9E;
  }
  .footer-black .links ul a:not(.btn):hover, .footer-black .links ul a:not(.btn):focus,
  .footer-transparent .links ul a:not(.btn):hover,
  .subscribe-line-transparent .links ul a:not(.btn):hover,
  .footer-transparent .links ul a:not(.btn):focus,
  .subscribe-line-transparent .links ul a:not(.btn):focus {
    color: #F1EAE0;
  }
  .footer-black .copyright,
  .footer-transparent .copyright,
  .subscribe-line-transparent .copyright {
    color: #66615b;
  }
  .footer-black .copyright ul > li a:not(.btn),
  .footer-transparent .copyright ul > li a:not(.btn),
  .subscribe-line-transparent .copyright ul > li a:not(.btn) {
    color: #66615b;
  }
  .footer-black hr,
  .footer-transparent hr,
  .subscribe-line-transparent hr {
    border-color: #66615b;
  }

/** Button Media Social**/

  .btn-facebook {
    border-color: #3b5998;
    color: #3b5998;
  }
  .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open > .btn-facebook.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-facebook:disabled, .btn-facebook[disabled], .btn-facebook.disabled {
    background-color: transparent;
    border-color: #3b5998;
  }
  .btn-facebook.btn-fill {
    color: #FFFFFF;
    background-color: #3b5998;
    opacity: 0.8;
  }
  .btn-facebook.btn-fill:hover, .btn-facebook.btn-fill:focus, .btn-facebook.btn-fill:active, .btn-facebook.btn-fill.active, .open > .btn-facebook.btn-fill.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-facebook.btn-simple {
    color: #3b5998;
    opacity: 0.8;
  }
  .btn-facebook.btn-simple:hover, .btn-facebook.btn-simple:focus, .btn-facebook.btn-simple:active, .btn-facebook.btn-simple.active, .open > .btn-facebook.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #3b5998;
    opacity: 1;
  }
  .btn-facebook.btn-simple:hover i, .btn-facebook.btn-simple:focus i, .btn-facebook.btn-simple:active i, .btn-facebook.btn-simple.active i, .open > .btn-facebook.btn-simple.dropdown-toggle i {
    color: #3b5998;
    opacity: 1;
  }
  
  .btn-twitter {
    border-color: #55acee;
    color: #55acee;
  }
  .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
    background-color: #55acee;
    border-color: #55acee;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-twitter:disabled, .btn-twitter[disabled], .btn-twitter.disabled {
    background-color: transparent;
    border-color: #55acee;
  }
  .btn-twitter.btn-fill {
    color: #FFFFFF;
    background-color: #55acee;
    opacity: 0.8;
  }
  .btn-twitter.btn-fill:hover, .btn-twitter.btn-fill:focus, .btn-twitter.btn-fill:active, .btn-twitter.btn-fill.active, .open > .btn-twitter.btn-fill.dropdown-toggle {
    background-color: #55acee;
    border-color: #55acee;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-twitter.btn-simple {
    color: #55acee;
    opacity: 0.8;
  }
  .btn-twitter.btn-simple:hover, .btn-twitter.btn-simple:focus, .btn-twitter.btn-simple:active, .btn-twitter.btn-simple.active, .open > .btn-twitter.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #55acee;
    opacity: 1;
  }
  .btn-twitter.btn-simple:hover i, .btn-twitter.btn-simple:focus i, .btn-twitter.btn-simple:active i, .btn-twitter.btn-simple.active i, .open > .btn-twitter.btn-simple.dropdown-toggle i {
    color: #55acee;
    opacity: 1;
  }
  
  .btn-pinterest {
    border-color: #cc2127;
    color: #cc2127;
  }
  .btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active, .open > .btn-pinterest.dropdown-toggle {
    background-color: #cc2127;
    border-color: #cc2127;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-pinterest:disabled, .btn-pinterest[disabled], .btn-pinterest.disabled {
    background-color: transparent;
    border-color: #cc2127;
  }
  .btn-pinterest.btn-fill {
    color: #FFFFFF;
    background-color: #cc2127;
    opacity: 0.8;
  }
  .btn-pinterest.btn-fill:hover, .btn-pinterest.btn-fill:focus, .btn-pinterest.btn-fill:active, .btn-pinterest.btn-fill.active, .open > .btn-pinterest.btn-fill.dropdown-toggle {
    background-color: #cc2127;
    border-color: #cc2127;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-pinterest.btn-simple {
    color: #cc2127;
    opacity: 0.8;
  }
  .btn-pinterest.btn-simple:hover, .btn-pinterest.btn-simple:focus, .btn-pinterest.btn-simple:active, .btn-pinterest.btn-simple.active, .open > .btn-pinterest.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #cc2127;
    opacity: 1;
  }
  .btn-pinterest.btn-simple:hover i, .btn-pinterest.btn-simple:focus i, .btn-pinterest.btn-simple:active i, .btn-pinterest.btn-simple.active i, .open > .btn-pinterest.btn-simple.dropdown-toggle i {
    color: #cc2127;
    opacity: 1;
  }
  
  .btn-google {
    border-color: #dd4b39;
    color: #dd4b39;
  }
  .btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open > .btn-google.dropdown-toggle {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-google:disabled, .btn-google[disabled], .btn-google.disabled {
    background-color: transparent;
    border-color: #dd4b39;
  }
  .btn-google.btn-fill {
    color: #FFFFFF;
    background-color: #dd4b39;
    opacity: 0.8;
  }
  .btn-google.btn-fill:hover, .btn-google.btn-fill:focus, .btn-google.btn-fill:active, .btn-google.btn-fill.active, .open > .btn-google.btn-fill.dropdown-toggle {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-google.btn-simple {
    color: #dd4b39;
    opacity: 0.8;
  }
  .btn-google.btn-simple:hover, .btn-google.btn-simple:focus, .btn-google.btn-simple:active, .btn-google.btn-simple.active, .open > .btn-google.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #dd4b39;
    opacity: 1;
  }
  .btn-google.btn-simple:hover i, .btn-google.btn-simple:focus i, .btn-google.btn-simple:active i, .btn-google.btn-simple.active i, .open > .btn-google.btn-simple.dropdown-toggle i {
    color: #dd4b39;
    opacity: 1;
  }
  
  .btn-linkedin {
    border-color: #0976b4;
    color: #0976b4;
  }
  .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open > .btn-linkedin.dropdown-toggle {
    background-color: #0976b4;
    border-color: #0976b4;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-linkedin:disabled, .btn-linkedin[disabled], .btn-linkedin.disabled {
    background-color: transparent;
    border-color: #0976b4;
  }
  .btn-linkedin.btn-fill {
    color: #FFFFFF;
    background-color: #0976b4;
    opacity: 0.8;
  }
  .btn-linkedin.btn-fill:hover, .btn-linkedin.btn-fill:focus, .btn-linkedin.btn-fill:active, .btn-linkedin.btn-fill.active, .open > .btn-linkedin.btn-fill.dropdown-toggle {
    background-color: #0976b4;
    border-color: #0976b4;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-linkedin.btn-simple {
    color: #0976b4;
    opacity: 0.8;
  }
  .btn-linkedin.btn-simple:hover, .btn-linkedin.btn-simple:focus, .btn-linkedin.btn-simple:active, .btn-linkedin.btn-simple.active, .open > .btn-linkedin.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #0976b4;
    opacity: 1;
  }
  .btn-linkedin.btn-simple:hover i, .btn-linkedin.btn-simple:focus i, .btn-linkedin.btn-simple:active i, .btn-linkedin.btn-simple.active i, .open > .btn-linkedin.btn-simple.dropdown-toggle i {
    color: #0976b4;
    opacity: 1;
  }
  
  .btn-dribbble {
    border-color: #ea4c89;
    color: #ea4c89;
  }
  .btn-dribbble:hover, .btn-dribbble:focus, .btn-dribbble:active, .btn-dribbble.active, .open > .btn-dribbble.dropdown-toggle {
    background-color: #ea4c89;
    border-color: #ea4c89;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-dribbble:disabled, .btn-dribbble[disabled], .btn-dribbble.disabled {
    background-color: transparent;
    border-color: #ea4c89;
  }
  .btn-dribbble.btn-fill {
    color: #FFFFFF;
    background-color: #ea4c89;
    opacity: 0.8;
  }
  .btn-dribbble.btn-fill:hover, .btn-dribbble.btn-fill:focus, .btn-dribbble.btn-fill:active, .btn-dribbble.btn-fill.active, .open > .btn-dribbble.btn-fill.dropdown-toggle {
    background-color: #ea4c89;
    border-color: #ea4c89;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-dribbble.btn-simple {
    color: #ea4c89;
    opacity: 0.8;
  }
  .btn-dribbble.btn-simple:hover, .btn-dribbble.btn-simple:focus, .btn-dribbble.btn-simple:active, .btn-dribbble.btn-simple.active, .open > .btn-dribbble.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #ea4c89;
    opacity: 1;
  }
  .btn-dribbble.btn-simple:hover i, .btn-dribbble.btn-simple:focus i, .btn-dribbble.btn-simple:active i, .btn-dribbble.btn-simple.active i, .open > .btn-dribbble.btn-simple.dropdown-toggle i {
    color: #ea4c89;
    opacity: 1;
  }
  
  .btn-github {
    border-color: #333333;
    color: #333333;
  }
  .btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open > .btn-github.dropdown-toggle {
    background-color: #333333;
    border-color: #333333;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-github:disabled, .btn-github[disabled], .btn-github.disabled {
    background-color: transparent;
    border-color: #333333;
  }
  .btn-github.btn-fill {
    color: #FFFFFF;
    background-color: #333333;
    opacity: 0.8;
  }
  .btn-github.btn-fill:hover, .btn-github.btn-fill:focus, .btn-github.btn-fill:active, .btn-github.btn-fill.active, .open > .btn-github.btn-fill.dropdown-toggle {
    background-color: #333333;
    border-color: #333333;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-github.btn-simple {
    color: #333333;
    opacity: 0.8;
  }
  .btn-github.btn-simple:hover, .btn-github.btn-simple:focus, .btn-github.btn-simple:active, .btn-github.btn-simple.active, .open > .btn-github.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #333333;
    opacity: 1;
  }
  .btn-github.btn-simple:hover i, .btn-github.btn-simple:focus i, .btn-github.btn-simple:active i, .btn-github.btn-simple.active i, .open > .btn-github.btn-simple.dropdown-toggle i {
    color: #333333;
    opacity: 1;
  }
  
  .btn-youtube {
    border-color: #e52d27;
    color: #e52d27;
  }
  .btn-youtube:hover, .btn-youtube:focus, .btn-youtube:active, .btn-youtube.active, .open > .btn-youtube.dropdown-toggle {
    background-color: #e52d27;
    border-color: #e52d27;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-youtube:disabled, .btn-youtube[disabled], .btn-youtube.disabled {
    background-color: transparent;
    border-color: #e52d27;
  }
  .btn-youtube.btn-fill {
    color: #FFFFFF;
    background-color: #e52d27;
    opacity: 0.8;
  }
  .btn-youtube.btn-fill:hover, .btn-youtube.btn-fill:focus, .btn-youtube.btn-fill:active, .btn-youtube.btn-fill.active, .open > .btn-youtube.btn-fill.dropdown-toggle {
    background-color: #e52d27;
    border-color: #e52d27;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-youtube.btn-simple {
    color: #e52d27;
    opacity: 0.8;
  }
  .btn-youtube.btn-simple:hover, .btn-youtube.btn-simple:focus, .btn-youtube.btn-simple:active, .btn-youtube.btn-simple.active, .open > .btn-youtube.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #e52d27;
    opacity: 1;
  }
  .btn-youtube.btn-simple:hover i, .btn-youtube.btn-simple:focus i, .btn-youtube.btn-simple:active i, .btn-youtube.btn-simple.active i, .open > .btn-youtube.btn-simple.dropdown-toggle i {
    color: #e52d27;
    opacity: 1;
  }
  
  .btn-instagram {
    border-color: #125688;
    color: #125688;
  }
  .btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open > .btn-instagram.dropdown-toggle {
    background-color: #125688;
    border-color: #125688;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-instagram:disabled, .btn-instagram[disabled], .btn-instagram.disabled {
    background-color: transparent;
    border-color: #125688;
  }
  .btn-instagram.btn-fill {
    color: #FFFFFF;
    background-color: #125688;
    opacity: 0.8;
  }
  .btn-instagram.btn-fill:hover, .btn-instagram.btn-fill:focus, .btn-instagram.btn-fill:active, .btn-instagram.btn-fill.active, .open > .btn-instagram.btn-fill.dropdown-toggle {
    background-color: #125688;
    border-color: #125688;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-instagram.btn-simple {
    color: #125688;
    opacity: 0.8;
  }
  .btn-instagram.btn-simple:hover, .btn-instagram.btn-simple:focus, .btn-instagram.btn-simple:active, .btn-instagram.btn-simple.active, .open > .btn-instagram.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #125688;
    opacity: 1;
  }
  .btn-instagram.btn-simple:hover i, .btn-instagram.btn-simple:focus i, .btn-instagram.btn-simple:active i, .btn-instagram.btn-simple.active i, .open > .btn-instagram.btn-simple.dropdown-toggle i {
    color: #125688;
    opacity: 1;
  }
  
  .btn-reddit {
    border-color: #ff4500;
    color: #ff4500;
  }
  .btn-reddit:hover, .btn-reddit:focus, .btn-reddit:active, .btn-reddit.active, .open > .btn-reddit.dropdown-toggle {
    background-color: #ff4500;
    border-color: #ff4500;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-reddit:disabled, .btn-reddit[disabled], .btn-reddit.disabled {
    background-color: transparent;
    border-color: #ff4500;
  }
  .btn-reddit.btn-fill {
    color: #FFFFFF;
    background-color: #ff4500;
    opacity: 0.8;
  }
  .btn-reddit.btn-fill:hover, .btn-reddit.btn-fill:focus, .btn-reddit.btn-fill:active, .btn-reddit.btn-fill.active, .open > .btn-reddit.btn-fill.dropdown-toggle {
    background-color: #ff4500;
    border-color: #ff4500;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-reddit.btn-simple {
    color: #ff4500;
    opacity: 0.8;
  }
  .btn-reddit.btn-simple:hover, .btn-reddit.btn-simple:focus, .btn-reddit.btn-simple:active, .btn-reddit.btn-simple.active, .open > .btn-reddit.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #ff4500;
    opacity: 1;
  }
  .btn-reddit.btn-simple:hover i, .btn-reddit.btn-simple:focus i, .btn-reddit.btn-simple:active i, .btn-reddit.btn-simple.active i, .open > .btn-reddit.btn-simple.dropdown-toggle i {
    color: #ff4500;
    opacity: 1;
  }
  
  .btn-tumblr {
    border-color: #35465c;
    color: #35465c;
  }
  .btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open > .btn-tumblr.dropdown-toggle {
    background-color: #35465c;
    border-color: #35465c;
    color: rgba(255, 255, 255, 0.7);
  }
  .btn-tumblr:disabled, .btn-tumblr[disabled], .btn-tumblr.disabled {
    background-color: transparent;
    border-color: #35465c;
  }
  .btn-tumblr.btn-fill {
    color: #FFFFFF;
    background-color: #35465c;
    opacity: 0.8;
  }
  .btn-tumblr.btn-fill:hover, .btn-tumblr.btn-fill:focus, .btn-tumblr.btn-fill:active, .btn-tumblr.btn-fill.active, .open > .btn-tumblr.btn-fill.dropdown-toggle {
    background-color: #35465c;
    border-color: #35465c;
    color: #FFFFFF;
    opacity: 1;
  }
  .btn-tumblr.btn-simple {
    color: #35465c;
    opacity: 0.8;
  }
  .btn-tumblr.btn-simple:hover, .btn-tumblr.btn-simple:focus, .btn-tumblr.btn-simple:active, .btn-tumblr.btn-simple.active, .open > .btn-tumblr.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #35465c;
    opacity: 1;
  }
  .btn-tumblr.btn-simple:hover i, .btn-tumblr.btn-simple:focus i, .btn-tumblr.btn-simple:active i, .btn-tumblr.btn-simple.active i, .open > .btn-tumblr.btn-simple.dropdown-toggle i {
    color: #35465c;
    opacity: 1;
  }
  
  .label-facebook {
    background-color: #3b5998;
  }
  
  .label-twitter {
    background-color: #55acee;
  }
  
  .label-pinterest {
    background-color: #cc2127;
  }
  
  .label-google {
    background-color: #dd4b39;
  }
  
  .label-linkedin {
    background-color: #0976b4;
  }
  
  .label-dribbble {
    background-color: #ea4c89;
  }
  
  .label-github {
    background-color: #333333;
  }
  
  .label-youtube {
    background-color: #e52d27;
  }
  
  .label-instagram {
    background-color: #125688;
  }
  
  .label-reddit {
    background-color: #ff4500;
  }
  
  .label-tumblr {
    background-color: #35465c;
  }
  
  .icon-facebook {
    color: #3b5998;
  }
  
  .icon-twitter {
    color: #55acee;
  }
  
  .icon-pinterest {
    color: #cc2127;
  }
  
  .icon-google {
    color: #dd4b39;
  }
  
  .icon-linkedin {
    color: #0976b4;
  }
  
  .icon-dribbble {
    color: #ea4c89;
  }
  
  .icon-github {
    color: #333333;
  }
  
  .icon-youtube {
    color: #e52d27;
  }
  
  .icon-instagram {
    color: #125688;
  }
  
  .icon-reddit {
    color: #ff4500;
  }
  
  .icon-tumblr {
    color: #35465c;
  }