 
/*Swiper Slider Style*/
 .swp-horizontal {
     width: 100%;
     height: auto;
}
 .swiper-slide {
     text-align: center;
     font-size: 18px;
    /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
/*End of Swiper Slider Style*/
/*Horizontal Slider*/
 .caption {
     position: absolute;
     display: block;
     right: 5%;
     padding: 15px;
     text-align: left;
     background: #000;
     background: rgba(0, 0, 0, .8);
     color: #fff;
     width: 40%;
     white-space: wrap;
     word-wrap: break-word;
}
 .caption h3 {
     font-size: 2vw;
     font-size: 20px;
     margin-top: 0;
}
 .caption p {
     font-size: 1.6vw;
     font-size: 16px;
     margin-bottom: 0;
}
 .ribbon-left {
     position: absolute;
     top: -31px;
     left: -19px;
     width: 55px;
}
 .ribbon-right {
     position: absolute;
     transform: rotate(180deg);
     bottom: -25px;
     right: -5px;
     width: 55px;
}
 .img-banner-pbi{
     width: 100%;
     margin-top: 20px;
}
 .swiper-pagination-bullet {
     width: 8px !important;
     height: 10px !important;
     border-radius: 0 !important;
     background: #FFF !important;
     opacity: .5 !important;
}
 .swiper-pagination-bullet-active {
     opacity: 1 !important;
     background: #EDD42F !important;
}
/*End of Horizontal Slider*/
/*************************** Responsive Caption Slider **************************/
 @media only screen and (max-width: 800px) {
     .caption h3 {
         font-size: 1.6vw;
         font-size: 16px;
         margin-top: 0;
    }
     .caption p {
         font-size: 1vw;
         font-size: 10px;
         margin-bottom: 0;
    }
}
 @media only screen and (max-width: 669px) {
     .caption h3 {
         font-size: 1.6vw;
         font-size: 16px;
    }
     .caption p {
         font-size: 1vw;
         font-size: 10px;
    }
     .ribbon-left {
         position: absolute;
         top: -11px;
         left: -9px;
         width: 30px;
    }
     .ribbon-right {
         position: absolute;
         transform: rotate(180deg);
         bottom: -18px;
         right: -3px;
         width: 30px;
    }
     .caption {
         bottom: 20% 
    }
}
 @media only screen and (max-width: 570px) {
     .caption h3 {
         font-size: 1.5vw;
         font-size: 15px;
         margin-top: 0;
         margin-bottom: 2px;
    }
     .caption p {
         font-size: 1.1vw;
         font-size: 11px;
         margin-bottom: 2px;
    }
     .ribbon-left {
         position: absolute;
         top: -11px;
         left: -9px;
         width: 20px;
    }
     .ribbon-right {
         position: absolute;
         transform: rotate(180deg);
         bottom: -11px;
         right: -2px;
         width: 20px;
    }
     .caption {
         bottom: 20%;
         padding: 5px;
         width: 40%;
    }
}
 @media only screen and (max-width: 450px) {
     .caption h3 {
         font-size: .9vw;
         font-size: 9px;
         margin-top: 0;
         margin-bottom: 2px;
    }
     .caption p {
         font-size: .8vw;
         font-size: 8px;
         margin-bottom: 2px;
    }
     .ribbon-left {
         position: absolute;
         top: -11px;
         left: -9px;
         width: 20px;
    }
     .ribbon-right {
         position: absolute;
         transform: rotate(180deg);
         bottom: -11px;
         right: -2px;
         width: 20px;
    }
     .caption {
         bottom: 20%;
         padding: 5px;
         width: 60%;
    }
}
/********************************** End of Responsive Caption Slider *********************************/

#swp-top-artikel-container iframe{
    display: block;
    width: 100%;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px){
    /* Desktop 1 */
    #swp-top-artikel-container iframe{
        height: 450px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    /* Desktop 2 */
    #swp-top-artikel-container iframe{
        height: 350px;
        overflow-y: hidden !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    /* Tablet */
    #swp-top-artikel-container iframe{
        height: 270px;
        overflow-y: hidden !important;
    }
}
@media (min-width: 0px) and (max-width: 767px){
    /* Phone */
    #swp-top-artikel-container iframe{
        height: 250px;
        overflow-y: hidden !important;
    }
}
