 
/*Vertical Slider*/
 .swp-top-artikel-desktop-1{
     width: auto;
     height: 385px;
}
 .swiper-slide {
     text-align: center;
     font-size: 18px;
    /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
 .title-top-artikel{
     position: fixed;
     background-color: #fff;
     width: 100%;
     z-index: 999;
}
 .title-top-artikel img{
     width: 30px;
}
 .title-top-artikel h3{
     display: inline;
}
 .content-top-artikel .swp-top-artikel-desktop-1 .swiper-slide{
     display: block;
     font-size: inherit !important;
     text-align: inherit !important;
     margin-bottom: 30px !important;
}
 .content-top-artikel a{
     color: inherit;
}
 .content-top-artikel .author{
     position: absolute;
     right: 15px;
}
 .content-top-artikel .footer-content {
     padding-bottom: 10px;
     box-shadow: 0 4px 2px -2px #bfbdbd;
     border-bottom: 1px solid #fff;
}
 .tag i{
     color: #EDD42F;
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}
 .swiper-pagination-bullet {
     width: 10px !important;
     height: 8px !important;
     border-radius: 0 !important;
     background: #DDD !important;
     opacity: .5 !important;
}
 .swiper-pagination-bullet-active {
     opacity: 1 !important;
     background: #EDD42F !important;
}
/*End of Vertical Slider*/
