 
/*Vertical Slider*/
 .swp-top-artikel-phone{
     width: auto;
     min-height: 100px;
     max-height: 250px;
}
 .swiper-slide {
     text-align: center;
     font-size: 18px;
    /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
 .title-top-artikel{
     margin-top: 20px;
}
 .title-top-artikel img{
     width: 40px;
}
 .title-top-artikel h3{
     display: inline;
}
 .content-top-artikel .swp-top-artikel-phone .swiper-slide{
     display: block;
     font-size: inherit !important;
     text-align: inherit !important;
     margin-bottom: 30px !important;
     box-shadow: 10px -1px 11px -8px #bfbdbd;
}
 .content-top-artikel a{
     color: inherit;
}
 .content-top-artikel .author{
     position: absolute;
     right: 15px;
}
 .content-top-artikel .footer-content {
     padding-bottom: 10px;
     border-bottom: 1px solid #fff;
}
 .tag i{
     color: #EDD42F;
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}
 .swiper-pagination-bullet {
     width: 8px !important;
     height: 10px !important;
     border-radius: 0 !important;
     background: #DDD !important;
     opacity: .5 !important;
}
 .swiper-pagination-bullet-active {
     opacity: 1 !important;
     background: #EDD42F !important;
}
 .swiper-container-horizontal>.swiper-pagination-bullets, 
 .swiper-pagination-custom, 
 .swiper-pagination-fraction {
    top: 100px !important;
    background-color: #EDD42F;
    height: 0;
}
/*End of Vertical Slider*/
